body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial;
}
*{
box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.header {
  padding-top: .5em;
  padding-bottom: .5em;
  border: 1px solid #a2a2a2;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  position: fixed;
  width: 100%;
}
.name {
  margin: 0;
  font-size: 1.45em;
}
.main-nav {
  margin-top: 5px;
}
.name a,
.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}
.main-nav a {
  font-size: .99em;
}
.main-nav a:hover {
  color: #73A6B2;
}
.about-me {
  background-image: url('./images/graffiti_bg.jpg');
  padding-bottom: 6em;
}
.veil {
    background-color: rgba(250, 250, 250, 0.7);
    width: 100%;
    padding: 2em 0;
}
.title {
  margin: 0 1em;
}
.about-me-text {
  margin: 1em 3em;
  line-height: 2;
  font-size: 1.2em;
  font-weight: bold;
}
.projects {
  padding: 4em 0;
}
.flex-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-left: 3em;
  margin-right: 3em;
}
.col {
  flex: 1;
  margin: 2em 1em;
  /*background-color: lightgrey;*/
  text-align: center;
}
.project-img {
  width: 350px;
}

.contact {
  background-color: #576096;
  color: #ffffff;
  padding-top: 3em;
  padding-left: 2em;
  padding-bottom: 3em;
}
.line {
  border-top: .1em solid #ffffff;
  margin-top: .5em;
  margin-left: 1.2em;
  width: 450px;

}
.contact-card {
  padding: 0 4em;
}


/*-------MEDIA------*/

@media (min-width: 769px) {
  .header,
  .main-nav {
    display: flex;
  }
  .header {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 900px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}
@media (max-width: 320px) {
  .project-img {
    width: 250px;
  }
}
@media (min-width: 320px) {
  .about-me {
    padding-top: 250px;
  }
}
